@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .decoration-skip-ink-none {
    text-decoration-skip-ink: none;
  }

  /* 
    For the convenience of working with full-screen blocks, 
    instead of restrictions in the body 
  */
  /* .container {
    @apply mx-auto min-w-80 max-w-[1352px] px-5 lg:px-10;
  } */
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hidden-opacity {
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s,
    visibility 0.3s 0.3s,
    z-index 0.3s 0.3s;
  &.opened {
    opacity: 1;
    z-index: 20;
    pointer-events: unset;
    transition:
      opacity 0.3s,
      visibility 0s,
      z-index 0s;
  }
}

@media(max-width: 640px) {
  .mobile-menu {
    height: 0;
    &.opened {
      height: 100vh;
      height: 100dvh;
      @media (max-height: 320px) {
        overflow-y: scroll;
      }
    
    }
  }  
}

.modal-opened {
  overflow: hidden;
}