@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.decoration-skip-ink-none {
		text-decoration-skip-ink: none;
	}

	/* For Webkit-based browsers (Chrome, Safari and Opera) */
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.hidden-opacity {
	z-index: -1;
	pointer-events: none;
	opacity: 0;
	transition:
		opacity 0.3s,
		z-index 0.3s 0.3s;
	&.opened {
		opacity: 1;
		@apply z-20;
		pointer-events: unset;
		transition:
			opacity 0.3s,
			z-index 0s;
	}
}