.hidden-opacity {
  pointer-events: none;
  opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition:
		opacity var(--tr-duration, 0.3s),
		visibility var(--tr-duration, 0.3s) var(--tr-duration, 0.3s),
    		pointer-events var(--tr-duration, 0.3s) var(--tr-duration, 0.3s),
		z-index var(--tr-duration, 0.3s) var(--tr-duration, 0.3s);
  		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&.opened {
		opacity: 100;
		z-index: var(--z-index, 50);
		pointer-events: auto;
		visibility: visible;
		transition:
			opacity var(--tr-duration, 0.3s),
			z-index 0s,
			pointer-events 0s,
			visibility 0s;
	}
}

@media(max-width: 767px) {
	.mobile-menu {
		position: absolute;
		overflow: hidden;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		&.opened {
			height: 100vh;
			height: 100dvh;
			@media (max-height: 320px) {
				overflow-y: scroll;
			}
		}
	}	
	.modal-opened-mobile {
		overflow: hidden;
	}
}
