.hidden-opacity {
	z-index: -1;
	pointer-events: none;
	visibility: hidden;
	transition:
		visibility 0.3s 0.3s,
		z-index 0.3s 0.3s;
	&.opened {
		z-index: var(--z-index, 20);
		pointer-events: unset;
		transition:
			visibility 0s,
			z-index 0s;
	}
}

@media(max-width: 767px) {
	.mobile-menu {
		position: absolute;
		overflow: hidden;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		&.opened {
			height: 100vh;
			height: 100dvh;
			@media (max-height: 320px) {
				overflow-y: scroll;
			}
		}
	}	
	.modal-opened-mobile {
		overflow: hidden;
	}
}
